<div class="container">
    <div class="row  form">
        <!-- <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form> -->
    </div>

    <div *ngFor='let quote of quotes; let i=index'>
        <ul>

            <li>
                <p appHighligth><b>{{quote.text}} </b> <em> published by: </em>{{quote.writtenBy}} <em>--Author</em>
                    {{quote.author}} </p>


                <!-- <button (click)='toggleDetails(i)'>Details</button> no need to toggle the details -->
                <button (click)="upvote(i)" class="btn btn-primary btn-xs">
                    <i class="up"></i>{{quote.upvotes}}<img src="https://clipart.info/images/ccovers/1513313791facebook-circle-heart-love-png.png"
                        height="38" width="38">
                </button>&nbsp;&nbsp;&nbsp;
                <button (click)="downvote(i)" class="btn btn-primary btn-xs">
                    <i class="down"></i>{{quote.downvotes}}<img src="http://www.pngmart.com/files/5/Broken-Heart-PNG-Transparent-Image.png"
                        height="38" width="38">
                </button>&nbsp;&nbsp;&nbsp;

                <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-detail>
            </li>


        </ul>
    </div>
   
</div> 



